In [1]:
import pandas as pd
import numpy as np
from uszipcode import SearchEngine, SimpleZipcode, Zipcode

file = "C:\\Users\\luis3\\OneDrive\\Escritorio\\COLLEGE\\NJIT\\FALL 2020\\CS301 - Intro to Data Science\\Project\\Motor_Vehicle_Collisions_-_Crashes.csv"
f1 = pd.read_csv(file)
f1.head(100)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/13/2020,15:00,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,188 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4357452,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,10/13/2020,8:18,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4358147,Sedan,Pick-up Truck,NaN,NaN,NaN
2,10/12/2020,0:45,BROOKLYN,11239.0,NaN,NaN,NaN,NaN,NaN,410 GATEWAY DRIVE,...,NaN,NaN,NaN,NaN,4356870,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,10/12/2020,7:10,NaN,NaN,NaN,NaN,NaN,TRIBOROUGH BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4357649,Sedan,NaN,NaN,NaN,NaN
4,10/11/2020,0:00,NaN,NaN,NaN,NaN,NaN,TRIBOROUGH BRIDGE,NaN,NaN,...,NaN,NaN,NaN,NaN,4356912,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9/7/2020,14:45,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE LOWER,NaN,NaN,...,Unspecified,Unspecified,Unspecified,NaN,4346058,Sedan,Sedan,Sedan,Sedan,NaN
96,9/7/2020,9:10,NaN,NaN,NaN,NaN,NaN,WEST 64 STREET,AMSTERDAM HOUSES,NaN,...,Unspecified,NaN,NaN,NaN,4346271,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
97,9/6/2020,12:18,NaN,NaN,NaN,NaN,NaN,TRIBOROUGH BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4345541,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
98,9/6/2020,17:30,BROOKLYN,11211.0,40.708010,-73.95673,"(40.70801, -73.95673)",BROADWAY,RODNEY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4345323,Sedan,NaN,NaN,NaN,NaN
99,9/5/2020,10:30,NaN,NaN,40.793716,-73.80704,"(40.793716, -73.80704)",154 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4345264,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [3]:
borough = f1[f1['BOROUGH'].notnull()].reset_index(drop=True)
borough.head(50000)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/12/2020,0:45,BROOKLYN,11239.0,NaN,NaN,NaN,NaN,NaN,410 GATEWAY DRIVE,...,NaN,NaN,NaN,NaN,4356870,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,10/11/2020,19:20,BRONX,10451.0,NaN,NaN,NaN,EXTERIOR STREET,EAST 138 STREET,NaN,...,NaN,NaN,NaN,NaN,4356796,Sedan,NaN,NaN,NaN,NaN
2,10/5/2020,15:43,BRONX,10464.0,NaN,NaN,NaN,ORCHARD BEACH ROAD,BARTOW CIRCLE,NaN,...,NaN,NaN,NaN,NaN,4355237,Sedan,Sedan,NaN,NaN,NaN
3,10/5/2020,17:00,BROOKLYN,11233.0,40.672790,-73.922226,"(40.67279, -73.922226)",PROSPECT PLACE,RALPH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4355008,Sedan,Sedan,NaN,NaN,NaN
4,10/1/2020,14:35,MANHATTAN,10018.0,NaN,NaN,NaN,12 AVENUE,WEST 40 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4353617,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2/19/2020,8:07,BROOKLYN,11228.0,40.618230,-74.014694,"(40.61823, -74.014694)",NaN,NaN,1160 82 STREET,...,Unspecified,NaN,NaN,NaN,4290695,Tractor Truck Diesel,Sedan,NaN,NaN,NaN
49996,2/15/2020,0:02,MANHATTAN,10029.0,40.799310,-73.943245,"(40.79931, -73.943245)",EAST 116 STREET,PARK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4288639,Sedan,Sedan,NaN,NaN,NaN
49997,1/26/2020,16:37,QUEENS,11101.0,40.757423,-73.922470,"(40.757423, -73.92247)",34 AVENUE,37 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4279214,Sedan,Sedan,NaN,NaN,NaN
49998,1/24/2020,18:45,QUEENS,11379.0,40.712887,-73.877716,"(40.712887, -73.877716)",75 STREET,METROPOLITAN AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4278858,Sedan,NaN,NaN,NaN,NaN
49999,1/29/2020,10:04,MANHATTAN,10019.0,NaN,NaN,NaN,WEST 59 STREET,12 AVENUE,NaN,...,Other Vehicular,NaN,NaN,NaN,4280825,Van,Sedan,NaN,NaN,NaN

In [5]:
s2 = f1.loc[f1['LATITUDE'].notnull() & f1['LONGITUDE'].notnull() & f1['BOROUGH'].isnull()].reset_index(drop=True)
s2.head(100)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/9/2020,22:26,NaN,NaN,40.828743,-73.835780,"(40.828743, -73.83578)",CROSS BRONX EXPY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4356497,Sedan,Sedan,NaN,NaN,NaN
1,10/8/2020,8:00,NaN,NaN,40.607277,-74.145120,"(40.607277, -74.14512)",NaN,NaN,680 SOUTH GANNON AVENUE,...,Unspecified,NaN,NaN,NaN,4355988,Dump,Dump,NaN,NaN,NaN
2,10/6/2020,13:30,NaN,NaN,40.789055,-73.948610,"(40.789055, -73.94861)",LEXINGTON AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4355248,Box Truck,Bus,NaN,NaN,NaN
3,10/6/2020,21:00,NaN,NaN,40.583960,-73.925300,"(40.58396, -73.9253)",BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4355340,Sedan,Sedan,NaN,NaN,NaN
4,10/4/2020,9:00,NaN,NaN,40.820114,-73.908195,"(40.820114, -73.908195)",EAST 158 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4354622,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10/7/2020,17:30,NaN,NaN,40.678852,-73.881520,"(40.678852, -73.88152)",ATLANTIC AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4356241,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
96,9/18/2020,23:50,NaN,NaN,40.762184,-73.993614,"(40.762184, -73.993614)",NaN,NaN,10 AVENUE,...,Unspecified,NaN,NaN,NaN,4349331,Pick-up Truck,Sedan,NaN,NaN,NaN
97,9/28/2020,15:20,NaN,NaN,40.560150,-74.199680,"(40.56015, -74.19968)",WEST SHORE EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4352753,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
98,10/11/2020,3:35,NaN,NaN,40.817090,-73.962610,"(40.81709, -73.96261)",HENRY HUDSON PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4356556,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
99,8/23/2020,1:43,NaN,NaN,40.797035,-73.929825,"(40.797035, -73.929825)",EAST 120 STREET,PALADINO AVENUE,NaN,...,NaN,NaN,NaN,NaN,4340661,Sedan,Sedan,NaN,NaN,NaN

In [23]:
counter1 = 0
counter2 = 0
search = SearchEngine(simple_zipcode=True)
for i in range(s2["LOCATION"].shape[0]):
    try:
        zipcode = search.by_coordinates(s2["LATITUDE"][i], s2["LONGITUDE"][i])
        s2["BOROUGH"][i] = zipcode[0].major_city
        s2["ZIP CODE"][i] = zipcode[0].zipcode
        counter1 = counter1 + 1
        #print(counter1+1,'GOOD:::::', s2["LATITUDE"][i],' - ', s2["LONGITUDE"][i])
        
    except:
        counter2 = counter2 + 1
        print(counter2+1, 'BAD::::::::',s2["LATITUDE"][i],' - ', s2["LONGITUDE"][i])
        s2.drop([i])

<ipython-input-23-46c3409410bc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s2["BOROUGH"][i] = zipcode[0].major_city
<ipython-input-23-46c3409410bc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s2["ZIP CODE"][i] = zipcode[0].zipcode

2 BAD:::::::: 0.0  -  0.0

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 752, in _rollback_impl
    self.engine.dialect.do_rollback(self.connection)
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 543, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: Cannot operate on a closed database.

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 891, in _reset
    self._reset_agent.rollback()
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1754, in rollback
    self._do_rollback()
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1792, in _do_rollback
    self.connection._rollback_impl()
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 754, in _rollback_impl
    self._handle_dbapi_exception(e, None, None, None, None)
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 1511, in _handle_dbapi_exception
    util.raise_(
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\util\compat.py", line 178, in raise_
    raise exception
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 752, in _rollback_impl
    self.engine.dialect.do_rollback(self.connection)
  File "C:\Users\luis3\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 543, in do_rollback
    dbapi_connection.rollback()
sqlalchemy.exc.ProgrammingError: (sqlite3.ProgrammingError) Cannot operate on a closed database.
(Background on this error at: http://sqlalche.me/e/13/f405)

3 BAD:::::::: 0.0  -  0.0
4 BAD:::::::: 0.0  -  0.0
5 BAD:::::::: 0.0  -  0.0
6 BAD:::::::: 0.0  -  0.0
7 BAD:::::::: 0.0  -  0.0
8 BAD:::::::: 0.0  -  0.0
9 BAD:::::::: 0.0  -  0.0
10 BAD:::::::: 0.0  -  0.0
11 BAD:::::::: 0.0  -  0.0
12 BAD:::::::: 0.0  -  0.0
13 BAD:::::::: 0.0  -  0.0
14 BAD:::::::: 0.0  -  0.0
15 BAD:::::::: 0.0  -  0.0
16 BAD:::::::: 0.0  -  0.0
17 BAD:::::::: 0.0  -  0.0
18 BAD:::::::: 0.0  -  0.0
19 BAD:::::::: 0.0  -  0.0
20 BAD:::::::: 0.0  -  0.0
21 BAD:::::::: 0.0  -  0.0
22 BAD:::::::: 0.0  -  0.0
23 BAD:::::::: 0.0  -  0.0
24 BAD:::::::: 0.0  -  0.0
25 BAD:::::::: 0.0  -  0.0
26 BAD:::::::: 0.0  -  0.0
27 BAD:::::::: 0.0  -  0.0
28 BAD:::::::: 0.0  -  0.0
29 BAD:::::::: 0.0  -  0.0
30 BAD:::::::: 0.0  -  0.0
31 BAD:::::::: 0.0  -  0.0
32 BAD:::::::: 0.0  -  0.0
33 BAD:::::::: 0.0  -  0.0
34 BAD:::::::: 0.0  -  0.0
35 BAD:::::::: 0.0  -  0.0
36 BAD:::::::: 0.0  -  0.0
37 BAD:::::::: 0.0  -  0.0
38 BAD:::::::: 0.0  -  0.0
39 BAD:::::::: 0.0  -  0.0
40 BAD:::::::: 0.0  -  0.0
41 BAD:::::::: 0.0  -  0.0
42 BAD:::::::: 0.0  -  0.0
43 BAD:::::::: 0.0  -  0.0
44 BAD:::::::: 0.0  -  0.0
45 BAD:::::::: 0.0  -  0.0
46 BAD:::::::: 0.0  -  0.0
47 BAD:::::::: 0.0  -  0.0
48 BAD:::::::: 0.0  -  0.0
49 BAD:::::::: 0.0  -  0.0
50 BAD:::::::: 0.0  -  0.0
51 BAD:::::::: 0.0  -  0.0
52 BAD:::::::: 0.0  -  0.0
53 BAD:::::::: 0.0  -  0.0
54 BAD:::::::: 0.0  -  0.0
55 BAD:::::::: 0.0  -  0.0
56 BAD:::::::: 0.0  -  0.0
57 BAD:::::::: 0.0  -  0.0
58 BAD:::::::: 0.0  -  0.0
59 BAD:::::::: 0.0  -  0.0
60 BAD:::::::: 0.0  -  0.0
61 BAD:::::::: 0.0  -  0.0
62 BAD:::::::: 0.0  -  0.0
63 BAD:::::::: 0.0  -  0.0
64 BAD:::::::: 0.0  -  0.0
65 BAD:::::::: 0.0  -  0.0
66 BAD:::::::: 0.0  -  0.0
67 BAD:::::::: 0.0  -  0.0
68 BAD:::::::: 0.0  -  0.0
69 BAD:::::::: 0.0  -  0.0
70 BAD:::::::: 0.0  -  0.0
71 BAD:::::::: 0.0  -  0.0
72 BAD:::::::: 0.0  -  0.0
73 BAD:::::::: 0.0  -  0.0
74 BAD:::::::: 0.0  -  0.0
75 BAD:::::::: 0.0  -  0.0
76 BAD:::::::: 0.0  -  0.0
77 BAD:::::::: 0.0  -  0.0
78 BAD:::::::: 0.0  -  0.0
79 BAD:::::::: 0.0  -  0.0
80 BAD:::::::: 0.0  -  0.0
81 BAD:::::::: 0.0  -  0.0
82 BAD:::::::: 0.0  -  0.0
83 BAD:::::::: 0.0  -  0.0
84 BAD:::::::: 0.0  -  0.0
85 BAD:::::::: 0.0  -  0.0
86 BAD:::::::: 0.0  -  0.0
87 BAD:::::::: 0.0  -  0.0
88 BAD:::::::: 0.0  -  0.0
89 BAD:::::::: 0.0  -  0.0
90 BAD:::::::: 0.0  -  0.0
91 BAD:::::::: 0.0  -  0.0
92 BAD:::::::: 0.0  -  0.0
93 BAD:::::::: 0.0  -  0.0
94 BAD:::::::: 0.0  -  0.0
95 BAD:::::::: 0.0  -  0.0
96 BAD:::::::: 0.0  -  0.0
97 BAD:::::::: 0.0  -  0.0
98 BAD:::::::: 0.0  -  0.0
99 BAD:::::::: 0.0  -  0.0
100 BAD:::::::: 0.0  -  0.0
101 BAD:::::::: 0.0  -  0.0
102 BAD:::::::: 0.0  -  0.0
103 BAD:::::::: 0.0  -  0.0
104 BAD:::::::: 0.0  -  0.0
105 BAD:::::::: 0.0  -  0.0
106 BAD:::::::: 0.0  -  0.0
107 BAD:::::::: 0.0  -  0.0
108 BAD:::::::: 0.0  -  0.0
109 BAD:::::::: 0.0  -  0.0
110 BAD:::::::: 0.0  -  0.0
111 BAD:::::::: 0.0  -  0.0
112 BAD:::::::: 0.0  -  0.0
113 BAD:::::::: 0.0  -  0.0
114 BAD:::::::: 0.0  -  0.0
115 BAD:::::::: 0.0  -  0.0
116 BAD:::::::: 0.0  -  0.0
117 BAD:::::::: 0.0  -  0.0
118 BAD:::::::: 0.0  -  0.0
119 BAD:::::::: 0.0  -  0.0
120 BAD:::::::: 0.0  -  0.0
121 BAD:::::::: 0.0  -  0.0
122 BAD:::::::: 0.0  -  0.0
123 BAD:::::::: 0.0  -  0.0
124 BAD:::::::: 40.75837  -  -201.23706
125 BAD:::::::: 40.665226000000004  -  -32.768513
126 BAD:::::::: 40.75837  -  -201.23706
127 BAD:::::::: 40.75837  -  -201.23706
128 BAD:::::::: 0.0  -  0.0
129 BAD:::::::: 40.665226000000004  -  -32.768513
130 BAD:::::::: 0.0  -  0.0
131 BAD:::::::: 0.0  -  0.0
132 BAD:::::::: 0.0  -  0.0
133 BAD:::::::: 0.0  -  0.0
134 BAD:::::::: 40.75837  -  -201.23706
135 BAD:::::::: 40.75837  -  -201.23706
136 BAD:::::::: 0.0  -  0.0
137 BAD:::::::: 0.0  -  0.0
138 BAD:::::::: 0.0  -  0.0
139 BAD:::::::: 40.75837  -  -201.23706
140 BAD:::::::: 40.75837  -  -201.23706
141 BAD:::::::: 0.0  -  0.0
142 BAD:::::::: 0.0  -  0.0
143 BAD:::::::: 0.0  -  0.0
144 BAD:::::::: 40.75837  -  -201.23706
145 BAD:::::::: 40.75837  -  -201.23706
146 BAD:::::::: 40.75837  -  -201.23706
147 BAD:::::::: 40.75837  -  -201.23706
148 BAD:::::::: 0.0  -  0.0
149 BAD:::::::: 40.75837  -  -201.23706
150 BAD:::::::: 0.0  -  0.0
151 BAD:::::::: 0.0  -  0.0
152 BAD:::::::: 0.0  -  0.0
153 BAD:::::::: 40.75837  -  -201.23706
154 BAD:::::::: 0.0  -  0.0
155 BAD:::::::: 0.0  -  0.0
156 BAD:::::::: 0.0  -  0.0
157 BAD:::::::: 40.75837  -  -201.23706
158 BAD:::::::: 0.0  -  0.0
159 BAD:::::::: 40.75837  -  -201.23706
160 BAD:::::::: 40.75837  -  -201.23706
161 BAD:::::::: 0.0  -  0.0
162 BAD:::::::: 0.0  -  0.0
163 BAD:::::::: 0.0  -  0.0
164 BAD:::::::: 0.0  -  0.0
165 BAD:::::::: 0.0  -  0.0
166 BAD:::::::: 40.75837  -  -201.23706
167 BAD:::::::: 40.75837  -  -201.23706
168 BAD:::::::: 40.75837  -  -201.23706
169 BAD:::::::: 0.0  -  0.0
170 BAD:::::::: 40.75837  -  -201.23706
171 BAD:::::::: 0.0  -  0.0
172 BAD:::::::: 40.75837  -  -201.23706
173 BAD:::::::: 0.0  -  0.0
174 BAD:::::::: 40.75837  -  -201.23706
175 BAD:::::::: 40.75837  -  -201.23706
176 BAD:::::::: 0.0  -  0.0
177 BAD:::::::: 0.0  -  0.0
178 BAD:::::::: 40.75837  -  -201.23706
179 BAD:::::::: 0.0  -  0.0
180 BAD:::::::: 0.0  -  0.0
181 BAD:::::::: 0.0  -  0.0
182 BAD:::::::: 40.75837  -  -201.23706
183 BAD:::::::: 40.75837  -  -201.23706
184 BAD:::::::: 0.0  -  0.0
185 BAD:::::::: 0.0  -  0.0
186 BAD:::::::: 0.0  -  0.0
187 BAD:::::::: 0.0  -  0.0
188 BAD:::::::: 0.0  -  0.0
189 BAD:::::::: 0.0  -  0.0
190 BAD:::::::: 0.0  -  0.0
191 BAD:::::::: 0.0  -  0.0
192 BAD:::::::: 0.0  -  0.0
193 BAD:::::::: 0.0  -  0.0
194 BAD:::::::: 0.0  -  0.0
195 BAD:::::::: 40.75837  -  -201.23706
196 BAD:::::::: 0.0  -  0.0
197 BAD:::::::: 0.0  -  0.0
198 BAD:::::::: 0.0  -  0.0
199 BAD:::::::: 0.0  -  0.0
200 BAD:::::::: 0.0  -  0.0
201 BAD:::::::: 0.0  -  0.0
202 BAD:::::::: 0.0  -  0.0
203 BAD:::::::: 40.75837  -  -201.23706
204 BAD:::::::: 0.0  -  0.0
205 BAD:::::::: 40.75837  -  -201.23706
206 BAD:::::::: 40.75837  -  -201.23706
207 BAD:::::::: 40.75837  -  -201.23706
208 BAD:::::::: 40.75837  -  -201.23706
209 BAD:::::::: 40.75837  -  -201.23706
210 BAD:::::::: 40.75837  -  -201.23706
211 BAD:::::::: 40.75837  -  -201.23706
212 BAD:::::::: 40.75837  -  -201.23706
213 BAD:::::::: 40.75837  -  -201.23706
214 BAD:::::::: 40.75837  -  -201.23706
215 BAD:::::::: 40.75837  -  -201.23706
216 BAD:::::::: 40.75837  -  -201.23706
217 BAD:::::::: 40.75837  -  -201.23706
218 BAD:::::::: 40.75837  -  -201.23706
219 BAD:::::::: 40.75837  -  -201.23706
220 BAD:::::::: 40.75837  -  -201.23706
221 BAD:::::::: 40.75837  -  -201.23706
222 BAD:::::::: 40.665226000000004  -  -32.768513
223 BAD:::::::: 40.75837  -  -201.23706
224 BAD:::::::: 0.0  -  0.0
225 BAD:::::::: 40.556175  -  -47.209625
226 BAD:::::::: 0.0  -  0.0
227 BAD:::::::: 40.75837  -  -201.23706
228 BAD:::::::: 40.665226000000004  -  -32.768513
229 BAD:::::::: 40.75837  -  -201.23706
230 BAD:::::::: 40.75837  -  -201.23706
231 BAD:::::::: 0.0  -  0.0
232 BAD:::::::: 0.0  -  0.0
233 BAD:::::::: 0.0  -  0.0
234 BAD:::::::: 40.665226000000004  -  -32.768513
235 BAD:::::::: 0.0  -  0.0
236 BAD:::::::: 40.75837  -  -201.23706
237 BAD:::::::: 40.665226000000004  -  -32.768513
238 BAD:::::::: 40.75837  -  -201.23706
239 BAD:::::::: 40.75837  -  -201.23706
240 BAD:::::::: 0.0  -  0.0
241 BAD:::::::: 0.0  -  0.0
242 BAD:::::::: 0.0  -  0.0
243 BAD:::::::: 40.75837  -  -201.23706
244 BAD:::::::: 40.75837  -  -201.23706
245 BAD:::::::: 40.75837  -  -201.23706
246 BAD:::::::: 0.0  -  0.0
247 BAD:::::::: 40.665226000000004  -  -32.768513
248 BAD:::::::: 40.75837  -  -201.23706
249 BAD:::::::: 40.75837  -  -201.23706
250 BAD:::::::: 40.75837  -  -201.23706
251 BAD:::::::: 40.75837  -  -201.23706
252 BAD:::::::: 40.665226000000004  -  -32.768513
253 BAD:::::::: 40.665226000000004  -  -32.768513
254 BAD:::::::: 40.75837  -  -201.23706
255 BAD:::::::: 40.75837  -  -201.23706
256 BAD:::::::: 0.0  -  0.0
257 BAD:::::::: 0.0  -  0.0
258 BAD:::::::: 40.75837  -  -201.23706
259 BAD:::::::: 40.75837  -  -201.23706
260 BAD:::::::: 0.0  -  0.0
261 BAD:::::::: 40.665226000000004  -  -32.768513
262 BAD:::::::: 40.75837  -  -201.23706
263 BAD:::::::: 40.75837  -  -201.23706

264 BAD:::::::: 40.75837  -  -201.23706
265 BAD:::::::: 40.75837  -  -201.23706
266 BAD:::::::: 40.75837  -  -201.23706
267 BAD:::::::: 40.75837  -  -201.23706
268 BAD:::::::: 40.75837  -  -201.23706
269 BAD:::::::: 40.75837  -  -201.23706
270 BAD:::::::: 40.75837  -  -201.23706
271 BAD:::::::: 40.75837  -  -201.23706
272 BAD:::::::: 0.0  -  0.0
273 BAD:::::::: 40.556175  -  -47.209625
274 BAD:::::::: 40.75837  -  -201.23706
275 BAD:::::::: 40.75837  -  -201.23706
276 BAD:::::::: 40.75837  -  -201.23706
277 BAD:::::::: 40.75837  -  -201.23706
278 BAD:::::::: 40.75837  -  -201.23706
279 BAD:::::::: 40.75837  -  -201.23706
280 BAD:::::::: 0.0  -  0.0
281 BAD:::::::: 0.0  -  0.0
282 BAD:::::::: 40.75837  -  -201.23706
283 BAD:::::::: 40.75837  -  -201.23706
284 BAD:::::::: 0.0  -  0.0
285 BAD:::::::: 40.75837  -  -201.23706
286 BAD:::::::: 0.0  -  0.0
287 BAD:::::::: 0.0  -  0.0
288 BAD:::::::: 40.75837  -  -201.23706
289 BAD:::::::: 40.556175  -  -47.209625
290 BAD:::::::: 40.75837  -  -201.23706
291 BAD:::::::: 40.75837  -  -201.23706
292 BAD:::::::: 0.0  -  0.0
293 BAD:::::::: 40.75837  -  -201.23706
294 BAD:::::::: 40.75837  -  -201.23706
295 BAD:::::::: 40.665226000000004  -  -32.768513
296 BAD:::::::: 40.75837  -  -201.23706
297 BAD:::::::: 0.0  -  0.0
298 BAD:::::::: 0.0  -  0.0
299 BAD:::::::: 40.75837  -  -201.23706
300 BAD:::::::: 40.665226000000004  -  -32.768513
301 BAD:::::::: 40.75837  -  -201.23706
302 BAD:::::::: 40.75837  -  -201.23706
303 BAD:::::::: 0.0  -  0.0
304 BAD:::::::: 0.0  -  0.0
305 BAD:::::::: 40.75837  -  -201.23706
306 BAD:::::::: 40.75837  -  -201.23706
307 BAD:::::::: 40.665226000000004  -  -32.768513
308 BAD:::::::: 40.665226000000004  -  -32.768513
309 BAD:::::::: 40.854286  -  -201.35998999999998
310 BAD:::::::: 40.75837  -  -201.23706
311 BAD:::::::: 0.0  -  0.0
312 BAD:::::::: 40.75837  -  -201.23706
313 BAD:::::::: 40.75837  -  -201.23706
314 BAD:::::::: 0.0  -  0.0
315 BAD:::::::: 0.0  -  0.0
316 BAD:::::::: 0.0  -  0.0
317 BAD:::::::: 0.0  -  0.0
318 BAD:::::::: 0.0  -  0.0
319 BAD:::::::: 40.75837  -  -201.23706
320 BAD:::::::: 0.0  -  0.0
321 BAD:::::::: 0.0  -  0.0
322 BAD:::::::: 0.0  -  0.0
323 BAD:::::::: 40.75837  -  -201.23706
324 BAD:::::::: 0.0  -  0.0
325 BAD:::::::: 0.0  -  0.0
326 BAD:::::::: 0.0  -  0.0
327 BAD:::::::: 0.0  -  0.0
328 BAD:::::::: 0.0  -  0.0
329 BAD:::::::: 0.0  -  0.0
330 BAD:::::::: 0.0  -  0.0
331 BAD:::::::: 0.0  -  0.0
332 BAD:::::::: 40.75837  -  -201.23706
333 BAD:::::::: 0.0  -  0.0
334 BAD:::::::: 0.0  -  0.0
335 BAD:::::::: 0.0  -  0.0
336 BAD:::::::: 0.0  -  0.0
337 BAD:::::::: 0.0  -  0.0
338 BAD:::::::: 0.0  -  0.0
339 BAD:::::::: 0.0  -  0.0
340 BAD:::::::: 0.0  -  0.0
341 BAD:::::::: 0.0  -  0.0
342 BAD:::::::: 40.75837  -  -201.23706
343 BAD:::::::: 40.665226000000004  -  -32.768513
344 BAD:::::::: 40.75837  -  -201.23706
345 BAD:::::::: 0.0  -  0.0
346 BAD:::::::: 0.0  -  0.0
347 BAD:::::::: 0.0  -  0.0
348 BAD:::::::: 0.0  -  0.0
349 BAD:::::::: 0.0  -  0.0
350 BAD:::::::: 0.0  -  0.0
351 BAD:::::::: 0.0  -  0.0
352 BAD:::::::: 0.0  -  0.0
353 BAD:::::::: 0.0  -  0.0
354 BAD:::::::: 0.0  -  0.0
355 BAD:::::::: 40.75837  -  -201.23706
356 BAD:::::::: 0.0  -  0.0
357 BAD:::::::: 0.0  -  0.0
358 BAD:::::::: 0.0  -  0.0
359 BAD:::::::: 0.0  -  0.0
360 BAD:::::::: 0.0  -  0.0
361 BAD:::::::: 0.0  -  0.0
362 BAD:::::::: 0.0  -  0.0
363 BAD:::::::: 0.0  -  0.0
364 BAD:::::::: 0.0  -  0.0
365 BAD:::::::: 0.0  -  0.0
366 BAD:::::::: 0.0  -  0.0
367 BAD:::::::: 0.0  -  0.0
368 BAD:::::::: 0.0  -  0.0
369 BAD:::::::: 0.0  -  0.0
370 BAD:::::::: 0.0  -  0.0
371 BAD:::::::: 0.0  -  0.0
372 BAD:::::::: 0.0  -  0.0
373 BAD:::::::: 0.0  -  0.0
374 BAD:::::::: 0.0  -  0.0
375 BAD:::::::: 0.0  -  0.0
376 BAD:::::::: 0.0  -  0.0
377 BAD:::::::: 0.0  -  0.0
378 BAD:::::::: 0.0  -  0.0
379 BAD:::::::: 0.0  -  0.0
380 BAD:::::::: 0.0  -  0.0
381 BAD:::::::: 0.0  -  0.0
382 BAD:::::::: 0.0  -  0.0
383 BAD:::::::: 0.0  -  0.0
384 BAD:::::::: 0.0  -  0.0
385 BAD:::::::: 0.0  -  0.0
386 BAD:::::::: 0.0  -  0.0
387 BAD:::::::: 0.0  -  0.0
388 BAD:::::::: 0.0  -  0.0
389 BAD:::::::: 0.0  -  0.0
390 BAD:::::::: 0.0  -  0.0
391 BAD:::::::: 0.0  -  0.0
392 BAD:::::::: 0.0  -  0.0
393 BAD:::::::: 0.0  -  0.0
394 BAD:::::::: 0.0  -  0.0
395 BAD:::::::: 0.0  -  0.0
396 BAD:::::::: 0.0  -  0.0
397 BAD:::::::: 0.0  -  0.0
398 BAD:::::::: 40.75837  -  -201.23706
399 BAD:::::::: 0.0  -  0.0
400 BAD:::::::: 0.0  -  0.0
401 BAD:::::::: 0.0  -  0.0
402 BAD:::::::: 0.0  -  0.0
403 BAD:::::::: 0.0  -  0.0
404 BAD:::::::: 0.0  -  0.0
405 BAD:::::::: 0.0  -  0.0
406 BAD:::::::: 0.0  -  0.0
407 BAD:::::::: 0.0  -  0.0
408 BAD:::::::: 0.0  -  0.0
409 BAD:::::::: 0.0  -  0.0
410 BAD:::::::: 0.0  -  0.0
411 BAD:::::::: 0.0  -  0.0
412 BAD:::::::: 0.0  -  0.0
413 BAD:::::::: 40.665226000000004  -  -32.768513
414 BAD:::::::: 0.0  -  0.0
415 BAD:::::::: 0.0  -  0.0
416 BAD:::::::: 0.0  -  0.0
417 BAD:::::::: 0.0  -  0.0
418 BAD:::::::: 40.75837  -  -201.23706
419 BAD:::::::: 40.75837  -  -201.23706

In [40]:
s3 = s2.loc[s2['BOROUGH'].notnull()]
s3.shape

(296861, 29)

In [51]:
s4 = pd.concat([borough, s3])
s4.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/12/2020,0:45,BROOKLYN,11239.0,NaN,NaN,NaN,NaN,NaN,410 GATEWAY DRIVE,...,NaN,NaN,NaN,NaN,4356870,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,10/11/2020,19:20,BRONX,10451.0,NaN,NaN,NaN,EXTERIOR STREET,EAST 138 STREET,NaN,...,NaN,NaN,NaN,NaN,4356796,Sedan,NaN,NaN,NaN,NaN
2,10/5/2020,15:43,BRONX,10464.0,NaN,NaN,NaN,ORCHARD BEACH ROAD,BARTOW CIRCLE,NaN,...,NaN,NaN,NaN,NaN,4355237,Sedan,Sedan,NaN,NaN,NaN
3,10/5/2020,17:00,BROOKLYN,11233.0,40.67279,-73.922226,"(40.67279, -73.922226)",PROSPECT PLACE,RALPH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4355008,Sedan,Sedan,NaN,NaN,NaN
4,10/1/2020,14:35,MANHATTAN,10018.0,NaN,NaN,NaN,12 AVENUE,WEST 40 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4353617,Sedan,Sedan,NaN,NaN,NaN

In [57]:
s4.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                         float64
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object